<article class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
  <div class="card">
    <img src="/images/<%= product.mainImage %>" class="card-img-top" alt="<%= product.name %>" />
    <div class="card-body bg-light">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">$<%= product.price %></p>
      <a href="/products/detail/<%= product.id %>" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</article>