<div class="card">
  <div class="card-header bg-success text-white">Usuarios</div>
  <div class="card-body">
    <!-- Barra de búsqueda -->
    <form action="/users/search" method="GET" class="mb-3">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Buscar usuario por ID, nombre o correo electrónico" aria-label="Buscar usuario" aria-describedby="button-search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" id="button-search">Buscar</button>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Correo Electrónico</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
              <button class="btn btn-sm btn-info" onclick="location.href='/users/<%= user.id %>/edit'"><i class="fa-regular fa-pen-to-square"></i></button>
              <button class="btn btn-sm btn-primary" onclick="location.href='/users/<%= user.id %>/profile'"><i class="fa-solid fa-circle-info"></i></button>
              <button class="btn btn-sm btn-danger" onclick="confirmDelete('<%= user.id %>')"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Script de SweetAlert para confirmar eliminación -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  function confirmDelete(userId) {
    Swal.fire({
      title: '¿Estás seguro?',
      text: "No podrás revertir esto",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sí, eliminarlo',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/users/${userId}/delete`;
      } else {
        window.location.href = '/users/admin';
      }
    });
  }
</script>