<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!-- Shopping Cart -->
      <section class="shopping-cart dark py-5">
        <div class="container" id="container">
          <div class="block-heading text-center mb-4">
            <h2>Estás a un paso de terminar...</h2>
            <p>
              Asegúrate siempre de revisar tus datos de compra e información
              personal.
            </p>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12 col-lg-8 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="product">
                      <div class="row">
                        <div class="col-md-3 text-center">
                          <img
                            class="img-fluid mx-auto d-block image"
                            alt="Image of a product"
                            src="/images/<%= product.mainImage %>"
                          />
                        </div>
                        <div
                          class="col-md-5 product-detail d-flex flex-column align-items-center justify-content-center"
                        >
                          <h5><%= product.name %></h5>
                          <p class="mb-2">
                            <b>Price:</b> $
                            <span id="unit-price"><%= product.price %></span>
                          </p>
                          <p class="mb-2"><b>Cantidad:</b> 10</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="summary">
                      <h5 class="text-center">Resumen del Pedido</h5>
                      <div
                        class="summary-item d-flex justify-content-between mt-3"
                      >
                        <span class="text">TOTAL:</span>
                        <span class="price" id="cart-total">$50.000</span>
                      </div>
                      <button
                        class="btn btn-primary btn-lg btn-block mt-4"
                        id="checkout-btn"
                      >
                        PAGAR
                      </button>
                      <p>
                        * En éste monto el precio del envío no está incluido,
                        se calcula después en la información de tu compra.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- footer -->
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>