<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body class="d-flex flex-column full-height">
    <%- include('./partials/header.ejs') %>

    <main class="container flex-grow-1 py-4">
      <h2>Perfil de Usuario</h2>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" value="<%= user.name %>" readonly>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" value="<%= user.lastname %>" readonly>
        </div>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" class="form-control" id="username" value="<%= user.username %>" readonly>
        </div>
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" value="<%= user.email %>" readonly>
        </div>
        <button type="button" class="btn btn-primary" onclick="location.href='/users/<%= user.id %>/edit'">Editar Perfil</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/'">Inicio</button>
      </form>
    </main>

    <%- include('./partials/footer.ejs') %>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>