<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head.ejs') %>
  <body class="d-flex flex-column full-height">
    <%- include('./partials/header.ejs') %>

    <main class="container flex-grow-1 py-4">
      <h2>Carrito de Compras</h2>
      <form id="carritoForm" action="/users/update-cart" method="POST">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <% items.forEach(item => { %>
                <tr>
                  <td>
                    <input type="checkbox" name="eliminar[]" value="<%= item.product.id %>">
                  </td>
                  <td>
                    <img src="/images/<%= item.product.mainImage %>" alt="<%= item.product.name %>" class="img-thumbnail" style="width: 100px; height: 100px;">
                  </td>
                  <td><%= item.product.name %></td>
                  <td>$<%= item.price %></td>
                  <td>
                    <input type="number" name="cantidad[]" value="<%= item.quantity %>" class="form-control cantidad" style="width: 60px;" min="1">
                    <input type="hidden" name="productId[]" value="<%= item.product.id %>">
                  </td>
                  <td>$<%= item.price * item.quantity %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-primary" formaction="/users/update-cart">Actualizar Cantidades</button>
          <button type="submit" class="btn btn-danger" formaction="/users/remove-from-cart">Eliminar Seleccionados</button>
          <button type="button" class="btn btn-secondary" onclick="location.href='/'">Volver al inicio</button>
        </div>
        <div class="mt-4">
          <h4 id="totalCarrito">Total: $<%= total %></h4>
        </div>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>